{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sewa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap CSS (для модального окна) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Swiper.js (для слайдера) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">

    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">


</head>
<body>
<header class="container-fluid py-3 bg-light">
        <div class="container d-flex justify-content-between align-items-center">
            <a href="{% url 'home' %}">
            <div>
                <img src="{% static 'img/Logo.png' %}" alt="Логотип" height="69" width="70">
            </div>
            </a>

            <nav>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="#">Японские авто</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Корейские авто</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Китайские авто</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Европейские авто</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
                </ul>
            </nav>

            <div class="d-flex align-items-center">
                <div class="me-5">
                    <a href="#" class="me-2"><img src="{% static 'img/tg.png' %}" alt="Telegram" width="28"></a>
                    <a href="#" class="me-2"><img src="{% static 'img/Youtube.png' %}" alt="Youtube" width="28"></a>
                    <a href="#" class="me-2"><img src="{% static 'img/instagram.png' %}" alt="instagram" width="28"></a>
                    <a href="#" class="me-2"><img src="{% static 'img/vk.png' %}" alt="vk" width="28"></a>
                </div>
                <div class="text-end">
                    <a href="#" class="mb-0 fw-bold header-phone">+7 (999) 123-45-67</a>
                    <a href="https://t.me/your_username" class="header-write-ws">Написать в Telegram</a>
                </div>
            </div>
        </div>
    </header>

<section class="container text-white text-start container-main container-main-catalog mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="mt-0">
                        <a href="/" style="color: #757575!important; font-size: 13px;">Главная</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="13" viewBox="0 0 7 10" fill="none" class="ms-1 me-1">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.982384 0.359337C1.17765 0.164075 1.49423 0.164075 1.68949 0.359337L5.97616 4.646C6.06993 4.73977 6.1226 4.86695 6.1226 4.99956C6.1226 5.13217 6.06993 5.25934 5.97616 5.35311L1.68949 9.63978C1.49423 9.83504 1.17765 9.83504 0.982384 9.63978C0.787122 9.44452 0.787122 9.12793 0.982384 8.93267L4.9155 4.99956L0.982384 1.06644C0.787122 0.871182 0.787122 0.554599 0.982384 0.359337Z" fill="#D5D5D5" fill-opacity="0.5"/>
                        </svg>
                        <a href="#" style="color: #757575!important; font-size: 13px;">Авто из Кореи</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="13" viewBox="0 0 7 10" fill="none" class="ms-1 me-1">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.982384 0.359337C1.17765 0.164075 1.49423 0.164075 1.68949 0.359337L5.97616 4.646C6.06993 4.73977 6.1226 4.86695 6.1226 4.99956C6.1226 5.13217 6.06993 5.25934 5.97616 5.35311L1.68949 9.63978C1.49423 9.83504 1.17765 9.83504 0.982384 9.63978C0.787122 9.44452 0.787122 9.12793 0.982384 8.93267L4.9155 4.99956L0.982384 1.06644C0.787122 0.871182 0.787122 0.554599 0.982384 0.359337Z" fill="#D5D5D5" fill-opacity="0.5"/>
                        </svg>
                        <a href="{{ request.path }}" style="color: white!important; font-size: 13px;">{{ ru_brand }} {% if ru_model != 'Не определено' %}{{ ru_model }}{% endif %}{% if car.year %}, {{ car.year }} {% endif %}</a>
                    </span>
                </div>
            </div>
        </div>
    </section>

<section class="container popular-cars py-5 px-5">
    <div class="row mt-3">

        <div class="col-md-6">
    <!-- Главный слайдер с изображениями -->
    <div class="swiper main-slider">
        <div class="swiper-wrapper">
            {% for photo in car.photos %}
            <div class="swiper-slide">
                <img src="{% if car.auction == 'encar' %} {{ photo|filter_photo_card_car }} {% else %} {{ photo }} {% endif %}" class="car-img-card" alt="Авто" onclick="openModal({{ forloop.counter0 }})">
            </div>
            {% endfor %}

        </div>
        <!-- Стрелки для навигации -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <!-- Галерея миниатюр -->
    <div class="swiper thumbnail-slider mt-3">
        <div class="swiper-wrapper">
            {% for photo in car.photos %}
            <div class="swiper-slide">
                <img src="{% if car.auction == 'encar' %} {{ photo|filter_photo_card_car }} {% else %} {{ photo }} {% endif %}" class="thumbnail" onclick="mainSwiper.slideTo({{ forloop.counter0 }})" alt="Миниатюра 1">
            </div>
            {% endfor %}

        </div>
    </div>
</div>

<!-- Модальное окно -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Слайдер внутри модального окна -->
                <div class="swiper modal-slider">
                    <div class="swiper-wrapper">
                        {% for photo in car.photos %}
                        <div class="swiper-slide">
                            <img src="{% if car.auction == 'encar' %} {{ photo|filter_photo_card_car }} {% else %} {{ photo }} {% endif %}" class="img-fluid" alt="Авто">
                        </div>
                        {% endfor %}


                    </div>
                    <!-- Стрелки -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="col-md-6">
            <div class="card-info-car">
                <h1 style="font-size: 36px; font-weight: 800;">{{ ru_brand }} {% if ru_model != 'Не определено' %}{{ ru_model }}{% endif %}{% if car.year %}, {{ car.year }} {% endif %}</h1>
                <p class="fw-bold mt-4" style="font-size: 28px;">
                    {% if car.price and car.price != 'Не определено' %}
                    {{ car.price|format_price }}
                    {% else %}
                    Уточнить
                    {% endif %}
                <p>
                <div class="row">
                <div class="col-md-6">
                    <span style="color: #555252;">Стомость авто: </span><span class="fw-bold">17 500 000 $</span>
                    <p class="mt-2"><span style="color: #555252;">Полная пошлина: </span><span class="fw-bold">1 295 000 ₽</span></p>
                </div>
                <div class="col-md-6">
                    <span style="color: #555252;">Страна производитель: </span><span class="fw-bold">Корея</span>
                    <p class="mt-2"><span style="color: #555252;">Страна экспортер: </span><span class="fw-bold">Корея</span></p>
                </div>
            </div>

                <div class="row mt-2">
                    <div class="col-md-12 d-flex">
                    <button class="btn-delivery me-2" style="padding: 12px!important;">Оставить заявку</button>
                    <button class="contact-from-bnt me-2">Подробный расчет</button>
                    <img src="{% static 'img/tg-card-car.png' %}" class="img-fluid" alt="Авто">
                </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-6">
                        {% if car.transmission and car.transmission != 'Не определено' %}
                        <p><span style="color: #555252;">Тип КПП: </span><span>
                            {{ car.transmission|translate_transmission }}
                        </span></p>
                        {% endif %}
                        {% if car.color %}
                        <p><span style="color: #555252;">Цвет: </span><span>{{ car.color }}</span></p>
                        {% endif %}
                        {% if car.body_type %}
                        <p><span style="color: #555252;">Кузов: </span><span>{{ car.body_type|translate_body_type }}</span></p>
                        {% endif %}
                        <p><span style="color: #555252;">Тип топлива: </span><span>Бензин</span></p>
                    </div>
                    <div class="col-md-6">
                        {% if car.year %}
                        <p><span style="color: #555252;">Год: </span><span>{{ car.year }}</span></p>
                        {% endif %}
                        {% if car.mileage %}
                        <p><span style="color: #555252;">Пробег: </span><span>{{ car.mileage|format_number }} км</span></p>
                        {% endif %}
                        {% if car.engine_volume and car.engine_volume != '0' %}
                        <p><span style="color: #555252;">Объем двигателя: </span><span>{{ car.engine_volume|cc_to_liters }} л</span></p>
                        {% endif %}
                        {% if car.drive and car.drive != 'Не определено' %}
                        <p><span style="color: #555252;">Привод: </span><span>{{ car.drive|translate_drive }}</span></p>
                        {% endif %}
                    </div>
                </div>
                <p class="mt-3" style="font-size: 15px;">Стоимость является ориентировочной. Оставьте заявку и наш менеджер свяжется с Вами для уточнения деталей.</p>
            </div>
        </div>
    </div>

    <h1 style="font-size: 48px; font-weight: 800; margin-top: 70px;">Похожие авто</h1>

    <div class="row mt-3">
        {% for car in popular_cars %}
        <div class="col-12 col-md-3">
            <div class="card card-car">
                    <div class="position-relative">
                        <a href="{% url 'catalog:car' car.id %}">
                        <img src="{% if car.auction == 'encar' %} {{ car.photo|filter_photo }} {% else %} {{ car.photo }} {% endif %}" class="card-img-top" alt="Авто">
                        </a>
                        <div class="position-absolute bottom-0 px-3 py-3">
                            {% if car.rule %}
                            <small class="me-2 rule-img-car">{{ car.rule }}</small>
                            {% endif %}
                            <small class="me-2 param-img-car">{{ car.mileage|format_number }} км</small>
                            {% if car.rate %}
                            <small class="param-img-car">{{ car.rate }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title fw-bold">
                            {% if car.brand != 'Не определено' %} {{ brand_map|translate_brand:car.brand }} {% endif %} {% if car.model != 'Не определено' %} {{ model_map|translate_model:car.model }} {% endif %}
                        </h5>
                        <p class="card-text text-muted">
                            {% if car.year %}
                            {{ car.year }} &bull;
                            {% endif %}
                            {% if car.engine_volume != 'Не определено' and car.engine_volume != '0' %}
                            {{ car.engine_volume|cc_to_liters }} л &bull;
                            {% endif %}
                            {% if car.drive and car.drive != 'Не определено' %}
                            {{ car.drive|translate_drive }} &bull;
                            {% endif %}
                            {% if car.car_fuel and car.car_fuel != 'Не определено' %}
                            {{ car.car_fuel|translate_engine }} &bull;
                            {% endif %}
                            {% if car.transmission and car.transmission != 'Не определено' %}
                            {{ car.transmission|translate_transmission }}
                            {% endif %}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="fw-bold price-car-card">
                                {% if car.price and car.price != 'Не определено' %}
                                {{ car.price|format_price }}
                                {% else %}
                                Уточнить
                                {% endif %}
                            </span>
                            <a href="#" class="btn-feedback-card-car">Оставить заявку</a>
                        </div>
                    </div>
                </div>
        </div>
        {% endfor %}



    </div>

    <h1 class="mt-5" style="font-size: 48px; font-weight: 800; margin-top: 120px!important;">Этапы работы</h1>
    <p style="font-size: 15px;">Полное сопровождение сделки и поддержка связи с клиентом 24/7.</p>
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="one-step">
                <span class="one-num">01</span>
            </div>
            <div class="one-step-card">
                <h5 style="font-weight: 700;">Договор</h5>
                <p style="font-size: 14px;" class="mt-3">Осуществляем поиск автомобиля по заданным параметрам</p>
            </div>

        </div>

        <div class="col-md-3">
            <div class="one-step">
                <span class="one-num">02</span>
            </div>
            <div class="one-step-card">
                <h5 style="font-weight: 700;">Подбор</h5>
                <p style="font-size: 14px;" class="mt-3">Осуществляем поиск автомобиля по заданным параметрам</p>
            </div>

        </div>

        <div class="col-md-3">
            <div class="one-step">
                <span class="one-num">03</span>
            </div>
            <div class="one-step-card">
                <h5 style="font-weight: 700;">Доставка</h5>
                <p style="font-size: 14px;" class="mt-3">Доставка авто в любую точку мира  под ключ</p>
            </div>

        </div>

        <div class="col-md-3">
            <div class="one-step">
                <span class="one-num">04</span>
            </div>
            <div class="one-step-card">
                <h5 style="font-weight: 700;">Передача</h5>
                <p style="font-size: 14px;" class="mt-3">Передача Вам автомобиля, а также полного пакета документов</p>
            </div>

        </div>

    </div>

    <div class="row mt-5" style="margin-top: 120px!important;">
        <div class="col-md-5">
            <div class="form-cost-delivery">
                <h4 class="fw-bold" style="font-weight: 800!important;">Стомость доставки</h4>
                <span style="font-size: 14px;">Минимальный срок доставки 2-4 недели</span>
                <form id="orderForm">
                <div class="mt-4">
                    <div class="custom-dropdown">
                        <div class="dropdown-button">Куда доставляем?</div>
                        <ul class="dropdown-list">
                            <li data-value="Москва">Москва</li>
                            <li data-value="Новосибирск">Новосибирск</li>
                        </ul>
                        <input type="hidden" name="city">
                    </div>
                </div>
                <div class="mt-3">
                    <div class="custom-dropdown">
                        <div class="dropdown-button">Выберите кузов</div>
                        <ul class="dropdown-list">
                            <li data-value="Седан">Седан</li>
                            <li data-value="Внедорожник">Внедорожник</li>
                        </ul>
                        <input type="hidden" name="car_type">
                    </div>
                </div>
                </form>
                <div class="row d-flex mt-5 justify-content-between">
                    <div class="col-md-7">
                        <span style="font-size: 14px;">Стоимость доставки:</span>
                        <p class="fw-bold price-delivery">от 15 000 <span class="logo-rub">₽</span></p>
                    </div>
                    <div class="col-md-5">
                        <button class="btn-delivery" id="customSubmit">Оставить заявку</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7">
            <img src="{% static 'img/car-img-delivery.png' %}" class="img-fluid" alt="Авто">
        </div>
    </div>
</section>



<section class="container py-5 px-5 container-contact" style="background: url('/static/img/Контакты.png') right/cover no-repeat;">
    <div class="row">
        <div class="col-md-6 mb-5">
            <h1 style="font-size: 48px; font-weight: 800;">Контакты</h1>
            <p style="font-size: 14px;">Оставьте свою заявку и наш менеджер свяжется с Вами для уточнения деталей.</p>
            <div class="mt-5">
                <div>
                    <span style="color: #dddddd; font-size: 14px;">Позвонить</span>
                    <p style="font-size: 14px;">878-88-01899</p>
                </div>
                <div class="mt-5">
                    <span style="color: #dddddd; font-size: 14px;">Написать</span>
                    <p style="font-size: 14px;">sewa2020@daum.net</p>
                </div>
                <div class="mt-5">
                    <span style="color: #dddddd; font-size: 14px;">Адрес</span>
                    <p style="font-size: 14px;">2603-3, Sewa Motors, 32, Songdogwahak-ro,<br>Yeonsu-gu, Incheon, Republic of Korea.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="contact-form">
                <h3 style="font-weight: 800; font-size: 24px;">Оставить заявку</h3>
                <form method="post">
                    <div class="row mb-3 mt-4">
                        <div class="col-md-6">
                            <label for="name" class="form-label" style="font-size: 14px;">Имя</label>
                            <input type="text" id="name" class="form-control" placeholder="Введите имя" required>
                        </div>
                        <div class="col-md-6">
                            <label for="phone" class="form-label" style="font-size: 14px;">Телефон</label>
                            <input type="tel" id="phone" class="form-control" placeholder="+7 (___) ___-__-__" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label" style="font-size: 14px;">Уточните свой вопрос</label>
                        <textarea id="message" class="form-control" rows="4" placeholder="Введите текст сообщения"></textarea>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-5">
                        <div class="form-check d-flex justify-content-between align-items-center">
                            <input class="form-check-input" type="checkbox" id="agree" required>
                            <label class="form-check-label ms-3" for="agree" style="font-size: 13px;">
                                С правилами политики конфиденциальности ознакомлен
                            </label>
                        </div>

                        <button type="submit" class="contact-from-bnt">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer class="container py-3 bg-light px-5">
    <div class="container d-flex justify-content-between align-items-center">
            <a href="{% url 'home' %}">
            <div>
                <img src="{% static 'img/Logo.png' %}" alt="Логотип" height="69" width="70">
            </div>
            </a>

            <nav>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="#">Японские авто</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Корейские авто</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Китайские авто</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Европейские авто</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
                </ul>
            </nav>

            <div class="d-flex align-items-center">
                <div>
                    <a href="#" class="me-2"><img src="{% static 'img/tg.png' %}" alt="Telegram" width="28"></a>
                    <a href="#" class="me-2"><img src="{% static 'img/Youtube.png' %}" alt="Youtube" width="28"></a>
                    <a href="#" class="me-2"><img src="{% static 'img/instagram.png' %}" alt="instagram" width="28"></a>
                    <a href="#" class="me-2"><img src="{% static 'img/vk.png' %}" alt="vk" width="28"></a>
                </div>
            </div>
        </div>
    <hr>
    <div class="d-flex justify-content-between align-items-center">
        <span style="color: #555252; font-size: 13px;"> Все права зарегистрированы.</span>
        <span style="color: #555252; font-size: 13px;">© 2021 Sewa Motors</span>
    </div>
</footer>

<!-- Bootstrap JS (для модального окна) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- Swiper.js -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const dropdowns = document.querySelectorAll(".custom-dropdown");

        dropdowns.forEach(dropdown => {
            const button = dropdown.querySelector(".dropdown-button");
            const list = dropdown.querySelector(".dropdown-list");
            const hiddenInput = dropdown.querySelector("input");

            button.addEventListener("click", function () {
                list.classList.toggle("show");
            });

            list.querySelectorAll("li").forEach(item => {
                item.addEventListener("click", function () {
                    button.textContent = this.textContent;
                    button.style.color = 'black';
                    hiddenInput.value = this.dataset.value;
                    list.classList.remove("show");
                    button.classList.remove("error");
                });
            });

            document.addEventListener("click", function (event) {
                if (!dropdown.contains(event.target)) {
                    list.classList.remove("show");
                }
            });
        });

        document.getElementById("customSubmit").addEventListener("click", function () {
            const cityInput = document.querySelector("input[name='city']");
            const carTypeInput = document.querySelector("input[name='car_type']");
            const city = cityInput.value;
            const carType = carTypeInput.value;

            if (!city || !carType) {
                if (!city) cityInput.closest('.custom-dropdown').querySelector('.dropdown-button').classList.add("error");;
                if (!carType) carTypeInput.closest('.custom-dropdown').querySelector('.dropdown-button').classList.add("error");
                return;
            }

            fetch("/send_order", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCSRFToken()
                },
                body: JSON.stringify({ city, carType })
            })
            .then(response => response.json())
            .then(data => {
                alert("Заявка отправлена успешно!");
                console.log(data);
            })
            .catch(error => {
                alert("Ошибка при отправке заявки!");
                console.error(error);
            });
        });

        function getCSRFToken() {
            return document.cookie.split('; ')
                .find(row => row.startsWith('csrftoken='))
                ?.split('=')[1];
        }
    });
</script>

<script>
    // Инициализация главного слайдера
    var mainSwiper = new Swiper(".main-slider", {
        slidesPerView: 1,
        navigation: {
            nextEl: ".main-slider .swiper-button-next",
            prevEl: ".main-slider .swiper-button-prev",
        },
    });

    // Инициализация миниатюрного слайдера
    var thumbSwiper = new Swiper(".thumbnail-slider", {

    });

    // Инициализация модального слайдера
    var modalSwiper = new Swiper(".modal-slider", {
        slidesPerView: 1,
        navigation: {
            nextEl: ".modal-slider .swiper-button-next",
            prevEl: ".modal-slider .swiper-button-prev",
        },
    });

    // Открытие модального окна с нужным фото
    function openModal(index) {
        modalSwiper.slideTo(index, 0);
        new bootstrap.Modal(document.getElementById('imageModal')).show();
    }
</script>



</body>
</html>